body {
    width: 60%;
    margin: auto;
    background-color: rgb(0, 0, 0);
}

header {
    background-color: rgb(10, 10, 10);
    padding: 30px;
    border-radius: 10px;
    /*margin: 50px;*/
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li,
p {
    color: rgb(201, 201, 201);
}

h1 {

    color: rgb(170, 0, 170);
    text-align: center;
}

h2,
h3 {
    color: rgb(170, 0, 170);
}

h3 {
    border-bottom: 2px dotted rgb(88, 88, 88);
    font-size: 1.2em;
}

a {
    color: #7a95cf;
    text-decoration: none;
}

a:hover {
    background-color: rgb(10, 10, 10);
    text-decoration: underline;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 2px
}

th {
    background-color: aquamarine;
}

TR:nth-child(odd) {
    color: blue;
}

dt {
    font-weight: bold;
}

.center {
    margin: auto;
    width: 80%;
}

.bg-blue {
    background-color: rgb(116, 116, 255);
}

.text-center {
    text-align: center;
    text-transform: uppercase;
}

.text-bold {
    font-weight: 900;
}

#myfooter {
    background-color: red;

}

footer {
    background-color: rgb(10, 10, 10) !important;
    position: relative;
    bottom: 0;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}